venv/
.venv/
env/
.env
node_modules/
dev.db
dev_migration.db
dev_migration_from_0001.db
storage/
dist/
build/
.pytest_cache/
__pycache__/
.DS_Store
.vscode/
.idea/
/.docker

*.pyc
*.pyo
*.pyd
/.env.local
